* {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}
.ham-menu {
  cursor: pointer;
  display: none;
}
.navbar {
  background: black;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  z-index: 999;
  align-items: center;
  height: 60px;
}
.navbar img {
  height: 70px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 100px;
  margin-top: 60px;
}
.login a {
  display: flex;
  align-items: center;
  gap: 9px;
  /* font-size: 18px; */
}
.sidenav .ham-footer .login a {
  display: flex;
}
.sidenav .ham-footer .login p {
  font-size: 16px;
}
.logo {
  margin-top: 10px;
  font-size: large;
  /* font-weight: 100; */
  display: flex;
  /* gap: 5px; */
}
.container {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
  /* width: 29px; */
}
.login a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
  /* width: 29px; */
}
.sidenav a,
.submenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover,
.submenu a:hover {
  color: #605e5e;
}

.sidenav .closebtn {
  position: absolute;
  color: aliceblue;
  font-size: large;
  top: 0;
  right: 15px;
  margin-left: 50px;
  margin-top: 15px;
  cursor: pointer;
}
.right-icon {
  display: flex;

  justify-content: space-between;
}
.submenu {
  /* display: none; */
  margin-top: 60px;
  height: 100%;
  position: fixed;
  /* z-index: 1; */
  width: 0px;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}
.ham-footer {
  display: flex;
  flex-direction: column;
  color: white;
  /* margin-left: 20px; */
  font-size: 14px;
  margin-top: 85%;
  gap: 10px;
}

@media (max-width: 768px) {
  .container {
    display: inline-block;
  }
}
@media (min-width: 769px) {
  .sidenav {
    display: none;
  }
  .submenu {
    display: none !important;

    width: 0px !important;
  }
  .change {
    display: none;
  }
}
